/*!FROONT Project element styles */

h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}
h2 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}
h3 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}
h4 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}
h5 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}
h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}
p {
    margin-top: 0;
    margin-bottom: 0
}
blockquote {
    margin-top: 0;
    margin-bottom: 0
}
.fr_paragraph_left {
    font-family: europa;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    letter-spacing: .01em;
    color: #999
}
.fr_h2 {
    font-family: europa;
    font-weight: 900;
    font-size: 2.125em;
    line-height: 1.25em;
    letter-spacing: .01em;
    color: #313030
}
.fr_h1_main_center_black {
    font-family: europa;
    font-weight: 900;
    font-size: 3.55em;
    text-align: center;
    letter-spacing: 0;
    color: #eef9f3
}
.fr_paragraphcenter {
    font-family: europa;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: center;
    letter-spacing: .01em;
    color: #999
}
.fr_caption_left_grey {
    font-family: europa;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.3em;
    text-align: center;
    letter-spacing: .05em;
    color: #999
}
.fr_navigation_link {
    font-family: europa;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: .01em;
    color: white
}
.fr_paragraph_text {
    float: none;
    display: block;
    width: 90%;
    font-family: europa;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: center;
    letter-spacing: .01em;
    margin-right: auto;
    margin-left: auto;
    color: #656f81
}
.fr_paragraph_left_grey {
    font-family: europa;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: left;
    letter-spacing: .01em;
    color: #999
}
.fr_h2_left_black_bold {
    font-family: europa;
    font-weight: 900;
    font-size: 1.7em;
    line-height: 1.45em;
    text-align: left;
    letter-spacing: .05em;
    color: black
}
.fr_paragraph_left_black {
    font-family: europa;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: left;
    letter-spacing: .01em;
    color: black
}
.fr_c08_image {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}
.fr_c08_one {
    padding-top: 1px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
}
.fr_c08_headline {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1.24em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: .57%
}
.fr_c08_paragraph_text {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: .22%
}
.fr_content_08 {
    float: none;
    display: none;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px
}
.fr_c08_2_column_grid {
    float: none;
    display: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-width: 940px
}
.fr_c08_2_column_grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 45.8%;
    clear: left;
    max-width: inherit
}
.fr_c08_2_column_grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 45.8%;
    clear: none;
    max-width: inherit
}
.fr_c08_two {
    width: 45.76244375703037%;
    padding-top: 1px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    min-height: 16.9375em
}
.fr_f2_main_title {
    float: none;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: -0.36em;
    margin-bottom: 0;
    min-height: 1.275em
}
.fr_footer_2 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 150px;
    background-color: #eef9f3;
    background-image: url(../images/thumbnail/froontnewtour-8-02.png_1145x733.png);
    background-attachment: fixed
}
.fr_container_2 {
    float: none;
    display: block;
    width: 100%;
    vertical-align: top;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: 0;
    background-image: url(../images/thumbnail/ena-down-2proc-01.png_10x10.png);
    min-height: 10px;
    max-height: 10px
}
.fr_navigation {
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1000
}
.fr_items {
    float: none;
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding-left: 10px;
    overflow: hidden
}
.fr_link_3 {
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px
}
.fr_link_2 {
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px
}
.fr_link_1 {
    float: left;
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px
}
.fr_mobile_toggle {
    display: none;
    width: 22px;
    margin-top: 20px;
    margin-bottom: 13px;
    margin-left: 20px;
    fill: white
}
.fr_link_4 {
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px
}
.fr_container_3 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto
}
.fr_content_07 {
    float: none;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px
}
.fr_f2_sub_text {
    float: none;
    display: block;
    width: 100%;
    margin-top: .04em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto
}
.fr_2_columns {
    width: 90%;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 13em;
    max-width: 1000px
}
.fr_2_columns>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 50%;
    clear: left;
    max-width: inherit
}
.fr_2_columns>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 50%;
    clear: none;
    max-width: inherit
}
.fr_paragraph_center {
    display: block;
    width: 90%;
    font-family: Oxygen;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.35;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    color: #656f81;
    background-position: center center;
    background-size: cover;
    min-height: 1.35em;
    max-width: 600px
}
.fr_gallery_5 {
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    /*background-color: white;*/
    background-image: url(../images/thumbnail/mail.png);
    background-position: center center;
    background-size: cover;
    min-height: 13.25rem
}
.fr_content_14 {
    float: none;
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white
}
.fr_c14_container {
    float: none;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    max-width: 1200px
}
.fr_c14_2_column_grid {
    display: block;
    margin-top: 30px
}
.fr_c14_2_column_grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 7%;
    margin-bottom: .6em;
    margin-left: 0;
    width: 56%;
    clear: left;
    max-width: inherit
}
.fr_c14_2_column_grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 7%;
    width: 30%;
    clear: none;
    max-width: inherit
}
.fr_c14_container_two {
    float: none;
    display: block
}
.fr_text_24 {
    float: none;
    display: block;
    margin-top: 30px
}
.fr_c14_title_two {
    float: none;
    display: block;
    width: 90%;
    margin-top: 30px
}
.fr_c14_line_two {
    float: none;
    display: block;
    width: 70px;
    background-color: #ff4936;
    min-height: 5px
}
.fr_c14_text {
    float: none;
    display: block
}
.fr_c14_paragraph_one {
    float: none;
    display: block;
    width: 100%;
    margin-top: 30px
}
.fr_c14_title {
    float: none;
    display: block;
    margin-top: 30px
}
.fr_c14_line {
    float: none;
    display: block;
    width: 70px;
    margin-bottom: 30px;
    background-color: #ff4936;
    min-height: 5px
}
.fr_center_image {
    float: none;
    display: block;
    width: 68.77%;
    margin-left: 12.26%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/thumbnail/techniche/sitemap.jpg);
    background-position: center top;
    background-size: contain;
    min-height: 68.94rem
}
.fr_image {
    float: none;
    display: block;
    width: 54.94%;
    max-width: 600px
}
.fr_center_image_2 {
    float: none;
    display: block;
    width: 46.87%;
    margin-top: -2rem;
    margin-left: 23.46%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/thumbnail/techniche/wire1.jpg);
    background-position: center center;
    background-size: contain;
    background-attachment: scroll;
    min-height: 71.69rem
}
.fr_image_2 {
    float: none;
    display: block;
    width: 54.94%;
    margin-right: auto;
    margin-left: 13.83%;
    max-width: 600px
}
.fr_center_image_4 {
    float: none;
    display: block;
    width: 46.87%;
    margin-top: -2rem;
    margin-left: 23.46%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/thumbnail/techniche/wire2.jpg);
    background-position: center center;
    background-size: contain;
    background-attachment: scroll;
    min-height: 71.69rem
}
.fr_image_4 {
    float: none;
    display: block;
    width: 54.94%;
    margin-right: auto;
    margin-left: 13.83%;
    max-width: 600px
}
.fr_center_image_5 {
    float: none;
    display: block;
    width: 47.05%;
    margin-top: -1rem;
    margin-left: 23.16%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/thumbnail/techniche/color_fonts.jpg);
    background-position: center center;
    background-size: contain;
    background-attachment: scroll;
    min-height: 25.94rem
}

.fr_image_5 {
    float: none;
    display: block;
    width: 54.94%;
    margin-right: auto;
    margin-left: 13.83%;
    max-width: 600px
}

.fr_center_image_8 {
    float: none;
    display: block;
    width: 68.77%;
    margin-top: 3rem;
    margin-left: 12.26%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/thumbnail/techniche/mobUI.jpg);
    background-position: center top;
    background-size: contain;
    min-height: 110.13rem
}
.fr_image_8 {
    float: none;
    display: block;
    width: 54.94%;
    max-width: 600px
}

.fr_center_image_9 {
    float: none;
    display: block;
    width: 70.15%;
    margin-top: 4rem;
    margin-bottom: 20px;
    margin-left: 12.26%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/thumbnail/techniche/desktopUI.jpg);
    background-position: center top;
    background-size: contain;
    min-height: 220.19rem
}
.fr_image_9 {
    float: none;
    display: block;
    width: 54.94%;
    max-width: 600px
}
.fr_text_25 {
    float: none;
    display: block
}
.fr_text_26 {
    float: none;
    display: block
}
.fr_text_27 {
    float: none;
    display: block
}
.fr_mobile_toggle .fr-svg-inner {
    padding-bottom: 84.15300546448087%;
    position: relative
}
@media screen and (max-width: 1024px) {
    .fr_navigation_link {
        text-align: left
    }
    .fr_navigation {
        padding-top: 0;
        padding-bottom: 7px
    }
    .fr_items {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        max-height: 0;
        overflow: hidden
    }
    .fr_link_3 {
        display: block
    }
    .fr_link_2 {
        display: block
    }
    .fr_link_1 {
        display: block
    }
    .fr_mobile_toggle {
        display: block
    }
    .fr_link_4 {
        display: block
    }
    .fr_c14_2_column_grid>.fr-widget:nth-child(1n+1) {
        margin-top: .6em;
        margin-right: 0;
        margin-bottom: .6em;
        margin-left: 0;
        width: 100%;
        clear: left;
        max-width: inherit
    }
    .fr_c14_line_two {
        margin-top: 30px
    }
}
@media screen and (max-width: 752px) {
    .fr_c08_headline {
        display: block;
        margin-top: -0.34em;
        margin-left: 0
    }
    .fr_c08_paragraph_text {
        display: block;
        margin-top: .97em;
        margin-left: .28%
    }
    .fr_c08_2_column_grid>.fr-widget:nth-child(1n+1) {
        margin-top: .6em;
        margin-right: 0;
        margin-bottom: .6em;
        margin-left: 0;
        width: 100%;
        clear: left;
        max-width: inherit
    }
}
@media screen and (max-width: 549px) {
    .fr_h1_main_center_black {
        font-size: 2.1em
    }
    .fr_c08_headline {
        display: block;
        margin-top: -0.34em
    }
    .fr_c08_paragraph_text {
        display: block;
        margin-top: .99em;
        margin-left: .57%
    }
    .fr_content_08 {
        padding-top: 80px
    }
    .fr_c08_2_column_grid>.fr-widget:nth-child(1n+1) {
        margin-top: .6em;
        margin-right: 0;
        margin-bottom: .6em;
        margin-left: 0;
        width: 100%;
        clear: left;
        max-width: inherit
    }
    .fr_footer_2 {
        padding-bottom: 100px
    }
    .fr_container_2 {
        margin-bottom: 100px
    }
    .fr_content_07 {
        padding-bottom: 80px
    }
    .fr_2_columns>.fr-widget:nth-child(1n+1) {
        margin-top: .6em;
        margin-right: 0;
        margin-bottom: .6em;
        margin-left: 0;
        width: 100%;
        clear: left;
        max-width: inherit
    }
    .fr_c14_2_column_grid>.fr-widget:nth-child(1n+1) {
        margin-top: .6em;
        margin-right: 0;
        margin-bottom: .6em;
        margin-left: 0;
        width: 100%;
        clear: left;
        max-width: inherit
    }
}
@media screen and (max-width: 320px) {
    .fr_h1_main_center_black {
        font-size: 2.3em
    }
    .fr_paragraph_text {
        font-size: 1.0em;
        margin-top: 0
    }
    .fr_c08_headline {
        display: block;
        margin-top: 0
    }
    .fr_c08_paragraph_text {
        display: block;
        margin-top: .97em;
        margin-left: .57%
    }
    .fr_content_08 {
        padding-top: 50px;
        padding-bottom: 50px
    }
    .fr_c08_two {
        min-height: 12.625em
    }
    .fr_footer_2 {
        padding-bottom: 70px
    }
    .fr_container_2 {
        margin-bottom: 50px
    }
    .fr_content_07 {
        padding-top: 50px;
        padding-bottom: 50px
    }
    .fr_f2_sub_text {
        width: 84.375%;
        max-width: 90%
    }
    .fr_c14_2_column_grid>.fr-widget:nth-child(1n+1) {
        margin-top: .6em;
        margin-right: 0;
        margin-bottom: .6em;
        margin-left: 0;
        width: 100%;
        clear: left;
        max-width: inherit
    }
}
.fr_navigation {
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out
}
.fr_navigation:hover {
    color: black;
    background-color: #313030;
    transition-duration: .125s
}
